.navbar {
  background-color: #364652; }

.jumbotron {
  background-color: #364652;
  color: #F1F7F9;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px; }

body {
  background-color: #F1F7F9; }

.info-general {
  display: flex;
  flex-flow: row nowrap;
  padding: 0 10% 40px 10%;
  text-align: center;
  color: #364652; }

.list-zapatillas {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-between;
  padding: 40px 20px 40px 0px; }

.card-zapatilla {
  justify-content: space-between;
  align-content: space-around;
  width: 15rem;
  border-radius: 0px;
  border-color: lightgray; }

.titulo-zapatilla {
  text-transform: uppercase;
  color: #364652 !important;
  text-shadow: lightgray; }

.btn-comprar {
  width: 100%;
  border-radius: 0px;
  align-self: center;
  border-color: white; }

footer {
  color: white;
  text-align: center;
  background-color: #364652;
  padding: 10px 10px 0 10px;
  margin-top: 10px;
  margin-bottom: 0px; }

.footer-address-icon {
  padding-right: 10px; }
