$bluegray: #364652;
$background: #F1F7F9;
$white: white;
$gray: lightgray;
$rojo: red;
$amarillo: yellow;
$verde: green;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin relleno($top, $right, $bottom, $left){
    padding: $top $right $bottom $left;
}


.navbar {
    background-color: $bluegray;
}

.jumbotron {
    background-color: $bluegray;
    color: $background;
    text-align: center;
    @include margenes(20px, 0px);
}

body {
    background-color: $background;
}

.info-general {
    display: flex;
    flex-flow: row nowrap;
    @include relleno(0, 10%, 40px, 10%);
    text-align: center;
    color: $bluegray;
}

.list-zapatillas {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-between;
    @include relleno(40px, 20px, 40px, 0px);
}

.card-zapatilla {
    justify-content: space-between;
    align-content: space-around;
    width: 15rem;
    border-radius: 0px;
    border-color: $gray;
}

.titulo-zapatilla {
    text-transform: uppercase;
    color: $bluegray !important;
    text-shadow: $gray;
}

.btn-comprar {
    width: 100%;
    border-radius: 0px;
    align-self: center;
    border-color: $white;
}

footer {
    color: $white;
    text-align: center;
    background-color: $bluegray;
    @include relleno(10px, 10px, 0, 10px);
    @include margenes(10px, 0px);
}

.footer-address-icon {
    padding-right: 10px;
}